@font-face {
  font-family: "Sandro Universal";
  src: url("../fonts/Sandro-Bold.ttf") format("truetype"),
    url("../fonts/Sandro-BoldItalic.ttf") format("truetype"),
    url("../fonts/Sandro-Regular.ttf") format("truetype"),
    url("../fonts/Sandro-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
