@import "./utils/mixins";

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.313rem;
  margin: 1.688rem 2.688rem;
  place-items: center;
  min-height: 630px;
  align-items: baseline;

  button {
    border: none;
    height: 18.313rem;

    img {
      width: 18.313rem;
      height: 18.313rem;
      z-index: 7;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#gallery-popover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70.375rem;
  height: 39.25rem;
  overflow: auto;
  background: $darkGrayWithOpacity;
  opacity: 0;
  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
  &:popover-open {
    opacity: 1;
    animation: pop-over-slide 1s ease-out;
  }
  .modal {
    display: flex;

    img {
      width: 39.25rem;
      height: 39.25rem;
    }

    .modal-content {
      .modal-content-text {
        @include display_flex(space-between, null);
        flex-direction: column;
        margin: 5.813rem 1.875rem 0 1.625rem;
        height: 22.875rem;

        h2 {
          text-align: left;
          font-size: 2.375rem;
          font: normal normal normal 38px/43px Sandro Universal;
          letter-spacing: 0rem;
          color: $whiteColor;
        }

        p {
          text-align: left;
          font-size: 1.75rem;
          font: normal normal normal 28px/43px Sandro Universal;
          letter-spacing: 0px;
          color: $whiteColor;
        }

        .read-the-book {
          font-size: 1.125rem;

          a {
            cursor: pointer;
          }
        }
      }

      button {
        position: absolute;
        right: 0rem;
        width: 3.75rem;
        height: 2.875rem;

        img {
          width: 1.938rem;
          height: 1.938rem;
        }
      }
    }
  }
}

#pagination {
  @include display_flex(space-between, null);
  width: 172px;
  height: 45px;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
  font: normal normal normal 38px/45px Sandro Universal;
  letter-spacing: 0px;

  button {
    border: none;
    background-color: transparent;
    font-size: 38px;
    color: $whiteColor;

    &:hover {
      cursor: pointer;
      color: $blackColor;
    }

    &:active,
    &:disabled {
      color: $blackColor;
    }
  }
}
