.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.313rem;
  margin: 1.688rem 2.688rem;
  place-items: center;

  img {
    width: 18.313rem;
    height: 18.313rem;
    z-index: 7;

    &:hover {
      cursor: pointer;
    }
  }
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70.375rem;
    height: 39.25rem;
    display: flex;
    overflow: auto;
    background: $darkGrayWithOpacity;

    .modal-content {
      .modal-content-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5.813rem 1.875rem 0 1.625rem;
        height: 366px;

        h2 {
          text-align: left;
          font-size: 2.375rem;
          font: normal normal normal 38px/43px Sandro Universal;
          letter-spacing: 0rem;
          color: $whiteColor;
        }

        p {
          text-align: left;
          font-size: 1.75rem;
          font: normal normal normal 28px/43px Sandro Universal;
          letter-spacing: 0px;
          color: $whiteColor;
        }

        .read-the-book {
          font-size: 1.125rem;

          a {
            cursor: pointer;
          }
        }
      }

      button {
        position: absolute;
        right: 0rem;
        width: 3.75rem;
        height: 2.875rem;

        img {
          width: 1.875rem;
          height: 1.938rem;
        }
      }
    }

    img {
      width: 39.25rem;
      height: 39.25rem;
    }
  }
}
